<form class="form1">
  <label> Username</label>
  <input placeholder="Enter" type="text" name="name" value="">
  <label>Password</label>
  <input placeholder="Enter" type="password" name="name" value="">
  <a href="/redirectToLogIn">submit</a>
</form>
